
#div {
    width: 200px;
    height: 200px;
    font-size: 50px;
    color: black;
  }
  body {
    background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mejor-aplicacion-fondos-pantalla-animados-llegaria-android-dentro-poco-2482649.jpg?tf=3840x");
    background-size: cover;
    background-repeat: no-repeat;
  }
